[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pygame = "*"
pandas = "*"
tqdm = "*"
pydot = "*"
plotly = "<=2.7.*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.7"
