[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
gym = "*"
pygame = "*"
tensorflow = "*"
pandas = "*"
tqdm = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.6"
